# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Django
db.sqlite3
/media
/staticfiles

# Virtual Environment
myenv/
venv/
env/

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
